/* ---------- GENERAL ---------- */

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-size: 16px;
}

#container {
	display: flex;
	flex-direction: row;
	height: 100%;
	margin: 0;
	position: fixed;
	width: 100%;
	background: black;
	color: white;
	font-family: "Barlow Semi Condensed", sans-serif;
}

input {
	font-size: 1em;
	font-family: "Barlow Semi Condensed", sans-serif;
	color: white;
}

	input[type="text"] {
		width: 100%;
		background: unset;
	    border: unset;
	    border-bottom: 1px solid rgba(255,255,255,0.15);
	    padding-bottom: 5px;
	    margin-bottom: 10px;
	    color: hsl(208, 100%, 55%);
	}

		input[type="text"]:focus {
			outline: none;
			border-color: hsl(208, 100%, 55%) !important;
		}

		input[type="text"].invalid-input {
			color: red;
			border-color: red !important;
		}

::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
  color: rgba(255,255,255,0.2);
}

::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255,255,255,0.2);
}

:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255,255,255,0.2);
}

:-moz-placeholder { /* Firefox 18- */
  color: rgba(255,255,255,0.2);
}

.input-with-labels {
	display: flex;
	flex-direction: row;
}

	.input-with-labels .iwl-section {
		margin-right: 5px;
		white-space: nowrap;
	}

	.input-with-labels .iwl-section:last-child {
		margin-right: unset;
	}

	.input-with-labels .label-before,
	.input-with-labels .label-after
	{
		flex: 0;
	}

	.input-with-labels .input {
		flex: 1;
	}

.input-radio {

}

	.input-radio label {
		margin-right: 5px;
	}

	.type-icon {
		width: 1em;
		height: 1em;
		display: inline-block;
		position: relative;
		margin: 0 0.2em;
	}

	.type-icon::after {
		content: '';
		width: 100%;
		height: 2px;
		background: red;
		position: absolute;
		left: 0;
		top: 0.6em;
		transform: rotate(30deg);
	}

	label[for="type-double"] .type-icon::before {
		content: '';
		width: 100%;
		height: 2px;
		background: red;
		position: absolute;
		left: 0;
		top: 0.6em;
		transform: rotate(-30deg);
	}

button {
	border: unset;
	color: white;
}

	button:hover {
		opacity: 0.8;
	}

	button:focus {
		outline: unset;
	}

	button:active {
		outline: unset;
	}

	button:disabled {
		opacity: 0.4;
	}

@keyframes fullrotation {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.loader {
	position: absolute;
	width: 75px;
	height: 75px;
	left: 50%;
	top: 50%;
	border-radius: 50%;
	border: 10px solid rgba(255,255,255,.5);
	border-right: 10px solid transparent;
	animation: fullrotation 1s ease-in-out infinite;
	display: none;
}

/* ---------- SIDEBAR ---------- */

#sidebar {
	width: 300px;
	background: rgba(24, 24, 24, 0.8);
	padding: 20px;
	display: flex;
	flex-direction: column;
	z-index: 1;
}

.section {
	margin-bottom: 20px;
}

	.section:last-child {
		margin-bottom: unset;
	}

	.section.fill {
		flex: 1;
		overflow: auto;
	}

	.section.fill::-webkit-scrollbar { 
		display: none; 
	}

	.section.title {
		font-size: 1.8em;
	}

	.section.subtitle {
		font-size: 1.2em;
	}

	.section.page {
		display: none;
	}

	.section.page.active {
		display: block;
	}

	.section.card {
		padding: 20px;
	}

.card {
	border-radius: 5px;
	background: white;
	color: rgba(0, 0, 0, 0.67);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

	.card .section.title {
		color: rgba(0, 0, 0, 0.5);
	}

	.card input[type="text"] {
		border-color: rgba(0, 0, 0, 0.15);
	}

.menu {
	display: flex;
	flex-direction: row;
	background: rgba(255, 255, 255, 0.05);
	width: calc(100% + 40px);
	margin-left: -20px;
	padding: 0 20px;
}

	.menu-item {
		display: flex;
		flex: 1;
		align-items: center;
		/*border-right: 1px solid rgba(255, 255, 255, 0.25);*/
		cursor: default;
		position: relative;
		color: rgba(255, 255, 255, 0.67);
	}

		.menu-item:last-child {
			border-right: unset;
		}

		.menu-item:hover {
			background: rgba(255, 255, 255, 0.1);
		}

		.menu-item.active {
			background: rgba(255, 255, 255, 0.15);
			color: white;
		}

			.menu-item.active::after {
				content: '';
				position: absolute;
				width: 100%;
				height: 2px;
				bottom: 0;
				background: hsl(208, 100%, 55%);
			}

		.menu-item-icon {
			padding: 10px;
		}

		.menu-item-label {
			flex: 1;
		}

.preset:hover {
	opacity: 0.8;
}

	.preset .icon {
		visibility: hidden;
	}

	.preset.active {
		color: hsl(208, 100%, 55%);
	}

	.preset.active .icon {
		visibility: visible;
	}

.apply-link {
	text-align: right;
	color: hsl(208, 100%, 55%);
	cursor: default;
}

	.apply-link.disabled {
		opacity: 0.4;
	}

	.apply-link:hover {
		color: white;
	}

	.apply-link.disabled:hover {
		color: hsl(208, 100%, 55%);
	}

#add-constellation {
	cursor: default !important;
	opacity: 0.75;
}

	#add-constellation:hover {
		opacity: 1;
	}

	#add-constellation .svg-inline--fa {
		color: hsl(208, 100%, 55%);
		margin-right: 5px;
	}

/* ---------- MAIN ---------- */

#sim-menu {
	height: 75px;
	position: absolute;
	bottom: 50px;
	right: 50px;
	display: flex;
	background: unset;
}

	.sm-section {
		background: white;
		position: relative;
	}

		.sm-section.wide {
			width: 150px;
			padding: 10px;
		}

		.sm-section:first-child {
			border-radius: 5px 0 0 5px;
		}

		.sm-section:last-child {
			border-radius: 0 5px 5px 0;
		}

		button.sm-section {
			width: 50px;
			position: relative;
			padding: unset;
		}

			button.sm-section > * {
				position: absolute;
				width: 100%;
				height: 50%;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}

			#button-run {
				background-color: hsl(208, 100%, 45%);
			}

			#button-schedule {
				background-color: hsl(35, 100%, 40%);
			}

			.button-icon {
				top: 0;
				padding-top: 15px;
			}

			.button-label {
				bottom: 0;
				font-size: 0.7em;
				padding-bottom: 15px;
			}

#main {
	flex: 1;
}

	#canvas-container {
		position: absolute;
		width: calc(100% + 300px);
		height: 100%;
		top: 0;
		left: 0;
	}

		#canvas-container .globe.view {
			
		}

			#canvas-container .globe.view #canvas {
				transform: scale3d(1, 1, 1);
			}

		#canvas-container .side.view {
			display: none;
		}

			#canvas-container .side.view .element {
				position: absolute;
				left: 50%;
				transform: translate(-50%, 0);
			}

				#canvas-container .side.view .node {
					width: 100px;
					height: 100px;
					background: rgba(255,255,255,0.5);
					display: flex;
					text-align: center;
					align-items: center;
				}

					#canvas-container .side.view .satellite {
						top: 20%;
					}

					#canvas-container .side.view .ground-station {
						top: calc(80% - 100px);
					}

				#canvas-container .side.view .connection {
					top: calc(20% + 100px);
					width: 10px;
					height: calc(60% - 200px);
					background: white;
				}

				#canvas-container .side.view .ground {
					top: 80%;
					width: 100%;
					height: 20%;
					background: green;
				}