/* ---------- GENERAL ---------- */

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-size: 20px;
}

#container {
	display: flex;
	flex-direction: row;
	height: 100%;
	margin: 0;
	position: fixed;
	width: 100%;
	background: black;
	color: white;
	font-family: "Barlow Semi Condensed", sans-serif;
}

input {
	font-size: 1em;
	font-family: "Barlow Semi Condensed", sans-serif;
	color: white;
}

	input[type="text"] {
		width: 100%;
		background: unset;
	    border: unset;
	    border-bottom: 1px solid rgba(255,255,255,0.15);
	    padding-bottom: 5px;
	    margin-bottom: 10px;
	    color: hsl(208, 100%, 55%);
	}

		input[type="text"]:focus {
			outline: none;
			border-color: hsl(208, 100%, 55%);
		}

		input[type="text"].invalid-input {
			color: red;
			border-color: red;
		}

::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
  color: rgba(255,255,255,0.2);
}

::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255,255,255,0.2);
}

:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255,255,255,0.2);
}

:-moz-placeholder { /* Firefox 18- */
  color: rgba(255,255,255,0.2);
}

.input-with-labels {
	display: flex;
	flex-direction: row;
}

	.input-with-labels .iwl-section {
		margin-right: 5px;
		white-space: nowrap;
	}

	.input-with-labels .iwl-section:last-child {
		margin-right: unset;
	}

	.input-with-labels .label-before,
	.input-with-labels .label-after
	{
		flex: 0;
	}

	.input-with-labels .input {
		flex: 1;
	}

button {
	border: unset;
	color: white;
}

	button:hover {
		opacity: 0.8;
	}

	button:focus {
		outline: unset;
	}

	button:active {
		outline: unset;
	}

	button:disabled {
		opacity: 0.4;
	}

	#button-run {
		width: 75px;
		height: 75px;
		background: rgba(0,128,0,1);
		position: absolute;
		bottom: 50px;
		right: 50px;
		border-radius: 50%;
		border: unset;
	}

@keyframes fullrotation {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.loader {
	position: absolute;
	width: 75px;
	height: 75px;
	left: 50%;
	top: 50%;
	border-radius: 50%;
	border: 10px solid rgba(255,255,255,.5);
	border-right: 10px solid transparent;
	animation: fullrotation 1s ease-in-out infinite;
	display: none;
}

/* buttons */

.icon.play {
	width: 0;
	height: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 25px solid white;
	transform: translate(-45%, -50%);
}

/* ---------- SIDEBAR ---------- */

#sidebar {
	width: 300px;
	background: rgba(255,255,255,0.1);
	padding: 20px;
	display: flex;
	flex-direction: column;
}

.section {
	flex: 0;
	margin-bottom: 20px;
}

	.section:last-child {
		margin-bottom: unset;
	}

	.section.fill {
		flex: 1;
	}

	.section.title {
		font-size: 1.8em;
	}

	.section.subtitle {
		font-size: 1.2em;
	}

/* ---------- MAIN ---------- */


#main {
	flex: 1;
	position: relative;
}

	#canvas-container {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

		#canvas-container .globe.view {
			
		}

			#canvas-container .globe.view #canvas {
				transform: scale3d(1, 1, 1);
			}

		#canvas-container .side.view {
			display: none;
		}

			#canvas-container .side.view .element {
				position: absolute;
				left: 50%;
				transform: translate(-50%, 0);
			}

				#canvas-container .side.view .node {
					width: 100px;
					height: 100px;
					background: rgba(255,255,255,0.5);
					display: flex;
					text-align: center;
					align-items: center;
				}

					#canvas-container .side.view .satellite {
						top: 20%;
					}

					#canvas-container .side.view .ground-station {
						top: calc(80% - 100px);
					}

				#canvas-container .side.view .connection {
					top: calc(20% + 100px);
					width: 10px;
					height: calc(60% - 200px);
					background: white;
				}

				#canvas-container .side.view .ground {
					top: 80%;
					width: 100%;
					height: 20%;
					background: green;
				}